*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: blue;
    color: white;
    text-align: center;
    height: 100vh;
}

h1{
padding: 2rem 0;
}

.form_container,
.ticket {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 1rem;
}

.form_container{
    color: blue;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
}

.row{
    display: flex;
}

.col-4{
    width: calc(100% /12 * 4);
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.col-2{
    width: calc(100% /12 * 2);
}



label{
    padding: 1rem 0;
}

input{
    padding: 0.5rem 0;
    border-radius: 1rem;
    text-align: center;
}

.price{
   margin: 2rem 0;
   padding: 0.5rem 1rem;
   color: blue;
   font-weight: bold;
   text-transform: uppercase;
   background-color: white;
}

.ticket_container{
    margin-top: 2rem;
    display: none;
}

.ticket{
    color: black;
    text-align: start;
}

.ticket_container>h2{
    margin-bottom: 2rem;
}
.container{
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    text-align: center;
}
.row_gap{
    gap: 1rem;
}

h4{
    margin: 0.75rem 0;
}
